

.env

HELP.md
.gradle

.tmp
caches
daemon
native
jdks
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

wrapper

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

.env

resources/


### PyCharm ###
__pycache__/
*.py[cod]
venv/
.venv/
env/
.env/
ENV/
.idea/
.DS_Store    # macOS에서 생성되는 파일
Thumbs.db    # Windows에서 생성되는 파일
.log
.tmp
dist/
build/
*.egg-info/
.env
.flaskenv
venvs/
static/

