@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #FEFAED;
  text-align: center;
  -ms-overflow-style: none;
  font-family: 'Gamja Flower', cursive;
  font-weight: bolder;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 6px; 
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background-color: #FCE9CB;
  border-radius: 6px;
}

.input-box {
  @apply bg-secondary rounded-[50px] py-[8px] px-[20px] w-[365px] mb-[10px] border-secondary border-2
  focus:outline-none focus:border-2 focus:border-white  text-middle-size;
}

.input-box2 {
  @apply border-[3px] rounded-[50px] checked:border-borderColor
  focus:outline-none focus:border-[3px] focus:border-white
}

.radio-box {
  @apply appearance-none w-5 h-5 rounded-full border-[3px]
}

.btn {
  @apply bg-secondary w-[240px] h-[50px] rounded-[50px] py-[6px] mb-[10px] text-2xl
  duration-300  hover:border-white hover:border-2
}